<nav id="navbar" style="position: absolute; width: 100%; height: 10vh; max-height: 10vh; background: rgba(0,0,0,0.04); display: flex;">
  <a href="/" class="font-11" style="cursor: pointer; font-size: 5.8vh; margin-top: 2vh; margin-left: 5vh; color: red; text-decoration: none">Animes <span style="color: white">STAR</span></a>
  <a class="navbarColor" style="cursor: pointer; font-size: 2.4vh; font-weight: 600; margin-left: 6vh; margin-top: 4.2vh">Animes</a>
  <a class="navbarColor" style="cursor: pointer; font-size: 2.4vh; font-weight: 600; margin-left: 4vh; margin-top: 4.2vh">Filmes</a>
  <a class="navbarColor" style="cursor: pointer; font-size: 2.4vh; font-weight: 600; margin-left: 4vh; margin-top: 4.2vh">Gêneros</a>
  <a class="navbarColor" style="cursor: pointer; font-size: 2.4vh; font-weight: 600; margin-left: 4vh; margin-top: 4.2vh">Calendário</a>
  <i class="fa-solid fa-user-astronaut"></i>
</nav>